<div class="text-center col-md-3 mx-auto bg-white p-3 border rounded-3 login">
<main class="form-signin center-block">
  <form (ngSubmit)="insertData()" [formGroup]="form">
    <img class="mb-4" src="https://img.icons8.com/android/452/user.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mt-2">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Senha" formControlName="senha">
      <label for="floatingPassword">Senha</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Entrar</button>

  </form>
</main>
</div>
