
<div class="container p-2 mb-5 geral" style="background-color: #f2f2f2;">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark ">
    <div class="col-md-6 px-0">
      <h1 class="mb-0 PT-Sans">Quando vou ser vacinado?</h1>
      <p class="text-justify mb-0 PT-Sans">O site "Quando vou ser vacinado" foi criado no intuito de auxiliar as pessoas através de uma estimativa de tempo que mostra daqui a quantos meses o usuário receberá a primeira dose da vacina contra o covid-19, e caso ele já possua tal disponibilidade ele avisa e entrega as instruções para a imunização parcial.</p>
      <p class="lead mb-0"><a href="https://quandovouservacinado.com/" target="blank" class="text-white fw-bold">Visite o site: https://quandovouservacinado.com/</a></p>
    </div>
    <div class="col-md-6 px-0">
      <br>
      <h1 class="mb-0 PT-Sans">Onde fazer o teste de Covid?</h1>
      <p class="text-justify mb-0 PT-Sans">Confira onde fazer o teste de Covid atraves do nosso mapa personalizado.</p>
      <p class="lead mb-0"><a routerLink="/map-clinica" class="text-white fw-bold">Clique Aqui!</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-justify">
        <div class="col p-4 d-flex flex-column position-static text-justify">
          <h3 class="mb-0 PT-Sans">Como não pirar na quarentena</h3>
          <p class="mb-auto">Trazemos a vocês um site externo que oferece uma lista de sete aplicativos que podem auxiliar na  sua saude mental visto que durante a quarentena a estatistica nos mostra que o pioramento dela é evidente devido o isolamento social.</p>
          <a href="https://www.minhavida.com.br/bem-estar/materias/36308-7-aplicativos-que-te-ajudam-a-cuidar-da-sua-saude-mental" target="blank" class="stretched-link text-justify">Visite o site: https://www.minhavida.com.br/bem-estar/materias/36308-7-aplicativos-que-te-ajudam-a-cuidar-da-sua-saude-mental</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Melhore sua saúde física</h3>
          <p class="mb-auto">O site da Unimed de Fortaleza nos traz uma lista de exercícios práticos para serem aplicados em nosso cotidiano que podem ajudar a melhorar de maneira significante a nossa saúde física durante estes tempos que estamos passando.</p>
          <a href="https://www.unimedfortaleza.com.br/blog/cuidar-de-voce/dicas-simples-e-eficazes-para-cuidar-da-saude" target="blank" class="stretched-link">Visite o site: https://www.unimedfortaleza.com.br/blog/cuidar-de-voce/dicas-simples-e-eficazes-para-cuidar-da-saude</a>
        </div>
        <div class="col-auto d-none d-lg-block">
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-12">
      <h3 class="pb-4 mb-4 PT-Sans border-bottom">
        O que fazer?
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">Protocolos do Covid-19</h2>
        <p class="blog-post-meta">Em 14/05 por <a href="#">Vinícius Schwartz e Murilo Barreto</a></p>

        <p>Segue os protocolos mais recoemndados e recentes sobre o combate ao covid-19 seja ele dentro ou fora de sua casa.</p>
        <hr>
        <h2>Higiene nas mãos</h2>
        <blockquote class="blockquote PT-Sans">
          <p>As mãos são grandes responsáveis por transportar germes para nossa boca, olhos e
            nariz. A higiene das mãos pode ser feita com água e sabão ou com álcool em gel.
            Quando houver qualquer sujeira visível, a lavagem com água e sabão é melhor que
            o álcool em gel. </p>
        </blockquote>
        <p>A higiene das mãos com água e sabão deve ser feita com técnica adequada e deve
          demorar de 40 a 60 segundos.</p>
        <h2>Proteção no Rosto</h2>
          <blockquote class="blockquote PT-Sans">
            <p>Colaboradores devem receber orientação de não tocar a máscara, os olhos, o nariz e
              a boca com as mãos não lavadas; </p>
          </blockquote>
            <h2>Contato Físico</h2>
            <blockquote class="blockquote PT-Sans">
              <p>Nesse período, é importante evitar o contato com colegas trabalho; evitar beijos,
                abraços ou mesmo aperto de mãos; colaboradores devem manter distância de pelo
                menos 1m a 2m entre si. </p>
            </blockquote>
            <h2>Compartilhamento de Materias de Uso Pessoal</h2>
            <blockquote class="blockquote PT-Sans">
              <p>Objetos podem levar gotículas infectadas de uma pessoa para outra. Dessa forma,
                não devemos compartilhar: Talheres, copos, ferramentas e etc. </p>
            </blockquote>
            <p>Quando for necessário compartilhar algum objeto, higienizar antes e depois com
              água e sabão e/ou álcool 70%.</p>

            <h2>Consumo de água no trabalho</h2>
            <blockquote class="blockquote PT-Sans">
              <p>A manipulação de copos descartáveis mantidos em pilhas e de bebedouros ou filtros
                pode facilitar a transmissão da COVID-19. Os colaboradores devem receber instrução
                de higienizar as mãos antes de beber água e evitar contato direto entre o copo e a
                saída de água do filtro ou bebedor; bebedouros do tipo jato inclinado, quando
                existentes, devem ser adaptados de modo que somente seja possível o consumo de
                água com uso de copo descartável. </p>
            </blockquote>
            <h2>Sobre tosse</h2>
            <blockquote class="blockquote PT-Sans">
              <p>Nas situações em que o funcionário estiver sem máscara (por exemplo, durante
                refeições) ao espirrar ou tossir em qualquer ambiente, é importante cobrir a boca
                com um lenço descartável ou com o braço para evitar que gotículas se espalhem
                pelo ambiente.  </p>
            </blockquote>
            <h2>Evitar aglomerações</h2>
            <blockquote class="blockquote PT-Sans">
              <p>Locais e situações do trabalho que favorecem a aglomeração de pessoas devem ser
                reorganizados, reduzindo o número de pessoas que ficam em contato a menos de 1
                a 2m de distância. Por exemplo, podemos citar locais de registro de ponto, copas,
                salas de uso comum, vestiários e refeitórios. Os gestores devem avaliar a
                possibilidade de uso desses ambientes em turnos, com recomendação de
                distanciamento de pelo menos 1m a 2m entre os colaboradores.  </p>
            </blockquote>
            <h2>Higiene de objetos e superfícies</h2>
            <blockquote class="blockquote PT-Sans">
              <p>Objetos que muitas pessoas tocam ou manipulam, tais como maçanetas, mesas,
                telefones, teclados, monitores, botões de máquinas, filtros de água, entre outros, devem
                ser higienizados com água e sabão ou com álcool 70%. Equipamentos sensíveis podem
                ser protegidos com plástico filme (“magipack”) para permitir limpeza frequente.
                É recomendado também reforçar a limpeza de sanitários e vestiários.  </p>
            </blockquote>
            <h2>Reuniões e eventos sociais</h2>
            <blockquote class="blockquote PT-Sans">
              <p>No momento é recomendado que quaisquer eventos que promovam aproximação
                física de colaboradores, tais como reuniões, comemorações ou eventos esportivos,
                sejam evitados.  </p>
            </blockquote>
            <h2>Ventilação</h2>
            <blockquote class="blockquote PT-Sans">
              <p>O vírus da COVID-19 pode ficar ativo no ar por até 3 horas. É importante manter
                os ambientes bem ventilados sempre que possível.  </p>
            </blockquote>
            <h2>Uso de máscaras.</h2>
            <blockquote class="blockquote PT-Sans">
            <p class="text-justify">Estudos recentes mostram que pessoas com a infecção em fases iniciais, antes de
                manifestar sintomas característicos, podem eliminar o vírus em suas secreções.
                Dessa forma, o uso de máscaras simples (incluindo aquelas de pano) por
                colaboradores sem sintomas pode ajudar a reduzir a disseminação da COVID-19.</p>
            </blockquote>





