<div class="pricing-header pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-light">Pacientes</h1>
</div>

<div class="table-responsive  ms-4 ">
  <table class="table table-dark table-striped table-hover">
  <thead>
    <tr class="text-center">
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Idade</th>
      <th scope="col">Altura</th>
      <th scope="col">Peso</th>
      <th scope="col">Sexo</th>
      <th scope="col">Sintomas</th>
      <th scope="col">TesteCovid</th>
      <th scope="col">Doente Cronico</th>
      <th scope="col">Grupo de Risco</th>
      <th scope="col">Triste ou Ansioso</th>
      <th scope="col">IMC</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>


  <tbody>
    <tr *ngFor="let pac of pacientes | paginate: { itemsPerPage: contador, currentPage: pag } | arrayFiltro : filtro; let i = index">
      <td>{{i + 1}}</td>
      <td>{{ pac.nome }}</td>
      <td>{{pac.idade }}</td>
      <td>{{pac.altura }}</td>
      <td>{{pac.peso }}</td>
      <td>{{pac.sexo }}</td>
      <td>{{pac.sintomas }}</td>
      <td>{{pac.teste }}</td>
      <td>{{pac.cronico }}</td>
      <td>{{pac.risco }}</td>
      <td>{{pac.mental }}</td>
      <td>{{pac.imc }}</td>
      <td>
        <div class="btn-group" >
        <button *ngIf="autenticado" class="btn btn-primary btn-sm mt-1" routerLink='/edit/{{pac._id}}'>Editar</button>
        <button *ngIf="autenticado" class="btn btn-danger btn-sm mt-1 ms-1 me-1" (click)="deleteData(pac._id)">deletar</button>
        <button class="btn btn-success btn-sm  mt-1" routerLink='/view/{{pac._id}}'>Visualizar</button>
      </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="pagination justify-content-end">
  <pagination-controls
		(pageChange)="pag = $event"
		previousLabel="Anterior"
		nextLabel="Próximo"></pagination-controls>
</div>
