.imagens{
  background: url('http://1.bp.blogspot.com/-5HBQAiCsACA/UlogshN-ImI/AAAAAAAAZYo/9tR-2-VJ0-Q/s1600/Fremes-e-M%C3%A1scaras-Digitais-queroimagem-Cei%C3%A7a-Crispim+++(8).png') center no-repeat;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: 60%;
}
