<div class="container p-1" style="background-color: #f2f2f2;">
  <!-- <header class="pb-3 mb-4 border-bottom"> -->


  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">QUAIS SÃO OS BENEFICIOS DA ÁGUA?</h1>
      <h1>Encha sua garrafinha sempre!</h1>
      <p>Muitas pessoas possuem dificuldade de tomar água durante o dia e acabam fazendo sua ingestão somente quando estão com sede. Porém, a quantidade de água que deve ser ingerida varia muito, mas para suprir todas as necessidades do corpo é preciso tomar, no minimo, 2 litros por dia.</p>
        <p>Confira alguns exemplos e já prepara para tomar mais água:</p>
          <p> - Melhora a circulação sanguinea;</p>
            <p>- Ajuda na sensação de saciedade;</p>
              <p>- Previne o aparecimento de doenças;</p>
                <p>- Mantém a pele saudável;
        </p>
      <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>BENEFÍCIOS DA ATIVIDADE FÍSICA</h2>
        <h2>Fique em movimento!</h2>
        <p>De acordo com a Organização Mundial da Saúde (OMS) a atividade fisíca é qualquer movimento produzido pelo corpo que possibilite um gasto de energia acima do nível de repouso. Então, a atividade física não é apenas prátoca de esporte: situações cotidianas, como limpar a casa ou caminhar também são formas de se manter em movimento!</p>
        <p>Se manter em movimento só trará beneficios para a sua saúde:</p>
          <p> - Ajuda no bem-estar fisico e mental;</p>
            <p>- Controla diabetes;</p>
              <p>- Ajuda no controle do peso;</p>
                <p>- Reduz o risco de pressão alta;</p>
                <p>- Alivia o estresse;</p>
                <p>- Melhora a circulação;</p>
                <p>- Diminui o risco de doenças do coração;</p>
                <h2>O Tempo também é importante!</h2>
                <p>A intensidade e a duração que você realiza suas atividades fisicas também influencia nos resultados. Segundo a OMS, a recomendação é: 150 minutos semanais de atividades fisicas leve ou moderadas e 75 minutos semanais de atividades fisicas de maior intensidade.</p>
                <h2>Por onde posso começar?</h2>
                <p>É bem simples e você pode começar hoje mesmo1 Veja alguns exemplos que você pode inserir no seu dia a dia:</p>
                <p>- Faça suas atividades domésticas: varra o quintal ou lave as roupas;</p>
                <p>- Evite ficar muito tempo sentado;</p>
                <p>- Faça caminhadas;</p>
                <p>- Prefira a escada ao elevador;</p>
                <p>- Dance suas músicas preferidas;</p>
                <p>Cuidar da sua saúde é muito importante. Por isso, não deixe de tirar um tempo durante o dia para se alongar, caminhar, cuidar das suas plantinhas ou pet, para aliviar o estresse e se manter em movimento!</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>SAÚDE MENTAL</h2>
        <h2>Higiene do Sono</h2>
        <p>Uma boa rotina do sono é essencial para manter a sua saúde mental em dia.</p>
        <h2>Controlar o sono?</h2>
        <p>O Relacionamento entre o sono e a ansiedade é basicamente complexo. Dormir pouco pode levar à ansiedade, enquanto ela própria causa transtornos do sono. Para controlá-la melhor, tente dormir ao menos sete horas por noite e use algumas das dicas a seguir para conseguir descansar adequadamente.</p>
        <h2>Planeje o ambiente!</h2>
        <p>Ajustes seus ciclos de sono para dormir e acordar em periodos regulares, vá dormir sempre nos mesmos horários. Tome seu quarto um ambiente confortável, use-o apenas para dormir, deixe-o fresco e escuro, desligue todos os equipamentos eletrônicos uma hora antes de deitar.</p>
        <h2>Se organize e relaxe!</h2>
        <p>Faça exercicios, mas não de duas a três horas antes de dormir. Desenvolva uma rotina para relaxar antes de deitar e siga-a à risca. Use aromaterapia, cheiro de lavanda é bastante útil para isso.</p>
        <h2>Mude alguns hábitos!</h2>

        <p>Não beba café no fim da tarde e evite comer momentos antes de dormir. Pegue um pouquinho de sol todos os dias, pare de fumar (a nicotina afeta o seu sono) e não beba àlcool duas horas antes de dormir.</p>

        <h2>Dicas de Exercícios</h2>
        <p>Com o isolamento social, muitas academias encontram-se fechadas e surgem muitas dúvidas de como manter a rotina de exercícios dentro de casa.</p>
        <a target="blank" href="http://www.mt.gov.br/-/14177401-especialista-da-dicas-para-manter-rotina-de-exercicios-fisicos-dentro-de-casa#:~:text=Para%20a%20educadora%20f%C3%ADsica%2C%20deve,tempo%20para%2015%20minutos%20di%C3%A1rios." class="btn btn-outline-secondary">Mais informações</a>

      </div>
    </div>
  </div>


</div>
