<!-- <div class="container">
  <form (ngSubmit)="updateData()" [formGroup]="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Enter name">


    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email"  class="form-control" placeholder="Enter email">


    </div>

    <div class="form-group">
      <label for="salary">Salary</label>
      <input type="text" formControlName="salary" class="form-control" placeholder="Enter salary">
    </div>

    <div class="form-group">
      <button class="btn btn-dark btn-sm">Submit</button>
    </div>
  </form>
</div> -->
<h1 class="display-4 fw-normal mb-5 ms-3 text-light">Editar Paciente</h1>
<div class="container text-light">
  <form (ngSubmit)="updateData()" [formGroup]="form">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" formControlName="nome" class="form-control" placeholder="EX: Luke Skywalker">


    </div>

    <div class="form-group">
      <label for="idade">Idade</label>
      <input type="text" formControlName="idade" class="form-control" placeholder="34">


    </div>

    <div class="form-group">
      <label for="altura">Altura</label>
      <input type="text" formControlName="altura"   class="form-control" placeholder="172">


    </div>

    <div class="form-group">
      <label for="peso">Peso</label>
      <input type="text" formControlName="peso" class="form-control" placeholder="68">


    </div>



    <div class="form-group" >
      <label for="sexo" class="text-black">Sexo:</label><br>
      <div class="form-check form-check-inline" *ngFor="let item of opSexo">
          <input class="form-check-input" type="radio" formControlName="sexo" id="inlineRadio1" [value]="item.valor">
          <label class="form-check-label" for="inlineRadio1">{{ item.desc }}</label>
      </div>

    </div>

    <div class="form-group">
      <label for="sintomas" class="text-black">Tem Sintomas:</label><br>
      <div class="form-check form-check-inline" *ngFor="let i of opSintomas">
        <input class="form-check-input" type="radio"  formControlName="sintomas" id="inlineRadio1" [value]="i.valor">
        <label class="form-check-label" for="inlineRadio1">{{ i.desc }}</label>
    </div>

    </div>

    <div class="form-group">
      <label for="teste" class="text-black">Sobre o Teste de Covid:</label><br>
      <div class="form-check form-check-inline" *ngFor="let i of opTeste">
        <input class="form-check-input" type="radio" formControlName="teste" id="inlineRadio1" [value]="i.valor">
        <label class="form-check-label" for="inlineRadio1">{{ i.desc }}</label>
      </div>

    </div>

    <div class="form-group">
      <label for="cronico" class="text-black">É Doente Cronico:</label><br>
      <div class="form-check form-check-inline" *ngFor="let i of opCronico">
        <input class="form-check-input" type="radio"  formControlName="cronico" id="inlineRadio1" [value]="i.valor">
        <label class="form-check-label" for="inlineRadio1">{{ i.desc }}</label>
    </div>

    </div>

    <div class="form-group">
      <label for="risco" class="text-black">É do Grupo de Risco:</label><br>
      <div class="form-check form-check-inline" *ngFor="let i of opRisco">
        <input class="form-check-input" type="radio" formControlName="risco" id="inlineRadio1" [value]="i.valor">
        <label class="form-check-label" for="inlineRadio1">{{ i.desc }}</label>
    </div>


    </div>

    <div class="form-group">
      <label for="mental" class="text-black">Se Sente Triste ou Ansioso:</label><br>
      <div class="form-check form-check-inline" *ngFor="let i of opMental">
        <input class="form-check-input" type="radio" formControlName="mental" id="inlineRadio1" [value]="i.valor">
        <label class="form-check-label" for="inlineRadio1">{{ i.desc }}</label>
    </div>


    </div>

    <div class="form-group mt-1">
      <button class="btn btn-dark btn-sm">Salvar</button>
    </div>
  </form>
</div>


